#treeelement {
    overflow: auto;
    min-height: calc(100vh - 165px);
    max-height: calc(100vh - 165px);
}

#treeelement:hover {
    overflow-y: auto;
}

.e-treeview>.e-ul {
    overflow: hidden;   
}

.e-control-wrapper{
    border-radius: 0px!important;
}
@media screen and (max-width:900px){
    .treeelement ul{
        margin-left:-25px ;
    }
}
